.container_margin{
    width: 700px;
    height: 800px;
    margin-left: 400px;
    border: 2px blue solid;
    padding-left: 20px;
}

.search_box{
    margin-top: 50px;
    align-items: center;
    margin-left: 80px;
    /* text-align: center; */
}

.search_box_row{
    padding-right: 50px;
}

.box{
    padding: 0px;
    border: 1px blue solid;
}

#search_box_subject{
    width: 250px;
    height: 30px;
}

#search_box_keyword{
    width: 248px;
    height: 28px;
}

.align_center{
    text-align: center;
}

.button_search{
    width: 120px;
    height: 40px;
    background-color: blue;
    color: #fff;
    font-size: 17px;
}

.display_flex{
    display: flex;
    flex-direction: row;
}

.edit_button{
    width: 55px;
    height: 25px;
    background-color: blue;
    color: #fff;
    text-align: center;
    border: 1px #000 solid;

}

.custom_a{
    color: #fff;
    text-align: center;
    align-items: center;
    text-decoration: none;
    /* padding-top: 6px; */
    line-height: 23px;
    margin-left: 5px;
}

.custom_del{
    padding: 0px;
    width: 57px;
    height: 27px;
    background-color: blue;
    color: #fff;
    text-align: center;
    border: 1px #000 solid;
    margin-right: 5px;
}